@import '../../styles/breakpoints';

.container {
  background-color: var(--primary-theme-color);
  color: var(--white);
  font-size: var(--body-font-size-2);
  font-weight: 400;
  padding: 1.8rem 6rem;
  border-style: none;
  border: none;
  display: flex;
  justify-content: center;
  transition: background-color 0.2s ease;
  cursor: pointer;
  text-transform: capitalize;
  border-radius: 2.5rem;
  &:hover {
    background-color: var(--white);
    color: var(--primary-theme-color);
    border: 1px solid var(--primary-theme-color);
  }

  &:disabled {
    background-color: var(--gray-2);
    color: var(--gray-4);
    cursor: not-allowed;
  }

  @media (max-width: calc($screen-xs - 100px)) {
    padding: 1.8rem;
  }
}
