.container {
  display: flex;
  gap: 1.381rem;
  flex-direction: column;
  align-items: center;
}

.brandList {
  display: flex;
  gap: 1.311rem;
  list-style: none;
}

.paymentProvider {
  display: flex;
  height: max-content;
  align-items: center;
  gap: 0.7rem;
  color: var(--gray-2);
  font-size: 1rem;
  font-weight: 400;
}
