:root {
  --primary-theme-color: #191847;
  --secondary-theme-color: #f5850b;
  --bg-color-container: #e5e5e5;
  --black: #151516;
  --gray-1: #F4F3F6;
  --gray-2: #E1DEE8;
  --gray-3: #C9C5D4;
  --gray-4: #727272;

  --heading-size-4: 2rem;
  --body-font-size: 1.6rem;
  --body-font-size-2: 1.4rem;
  --note-font-size: 1.2rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 10px;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--bg-color-container);
}

a {
  color: inherit;
  text-decoration: none;
}
