@import '../../styles/breakpoints';

.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
    'cardNumberField cardNumberField'
    'cardValidDateField cardCvvField'
    'cardUserNameField cardUserNameField'
    'cardUserCpfField cardUserCpfField'
    'couponField couponField'
    'installments installments'
    'submitButton submitButton';
  max-width: 33rem;
  column-gap: 4rem;
  row-gap: 3rem;
  font-size: var(--body-font-size);

  @media (max-width: calc($screen-xs - 201px)) {
    grid-template-columns: auto;
    grid-template-areas:
      'cardNumberField'
      'cardValidDateField'
      'cardCvvField'
      'cardUserNameField'
      'cardUserCpfField'
      'couponField'
      'installments'
      'submitButton';
  }
}

.cardNumberField {
  grid-area: cardNumberField;
}

.cardValidDateField {
  grid-area: cardValidDateField;
}

.cardCvvField {
  grid-area: cardCvvField;
  label {
    text-transform: uppercase;
  }
}

.cardUserNameField {
  grid-area: cardUserNameField;
}

.cardUserCpfField {
  grid-area: cardUserCpfField;
  label {
    text-transform: uppercase;
  }
}

.couponField {
  grid-area: couponField;
}

.submitButton {
  grid-area: submitButton;
  width: 100%;
}

.installmentsField {
  grid-area: installments;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  border-bottom: solid 0.1rem var(--gray-1);

  label {
    font-size: var(--note-font-size);
    font-weight: 400;
    text-transform: capitalize;
    color: var(--gray-4);
    cursor: pointer;
  }

  select {
    border: none;
    background: transparent;
    color: var(--black);
    &::placeholder {
      color: var(--gray-3);
    }
    &:focus,
    &.focused {
      outline: none;
    }
  }
}
