.container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas:
    'cardNumberField cardNumberField'
    'cardValidDateField cardCvvField'
    'cardUserNameField cardUserNameField'
    'cardUserCpfField cardUserCpfField'
    'couponField couponField'
    'submitButton submitButton';
  max-width: 33rem;
  column-gap: 4rem;
  row-gap: 3rem;
  font-size: var(--body-font-size);
}

.cardNumberField {
  grid-area: cardNumberField;
}

.cardValidDateField {
  grid-area: cardValidDateField;
}

.cardCvvField {
  grid-area: cardCvvField;
  label {
    text-transform: uppercase;
  }
}

.cardUserNameField {
  grid-area: cardUserNameField;
}

.cardUserCpfField {
  grid-area: cardUserCpfField;
  label {
    text-transform: uppercase;
  }
}

.couponField {
  grid-area: couponField;
}

.submitButton {
  grid-area: submitButton;
  width: 100%;
}
